/* Set a background image for all slides */
.reveal {
    background-image: url('Flag_of_Kyrgyzstan_(1992–2023).svg.png');
    background-size: cover; /* Cover the entire slide */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat;
}
